## main oscillator
NET "clk_osc"     LOC="P95" | IOSTANDARD="LVCMOS33" | TNM_NET="clk_osc";
TIMESPEC TS_clk_osc = PERIOD clk_osc 50 MHz;

## GPIO
NET "GPIO_clk"       LOC="P134" | IOSTANDARD="LVCMOS33";
NET "GPIO_start"     LOC="P133" | IOSTANDARD="LVCMOS33";
NET "GPIO_stop"      LOC="P132" | IOSTANDARD="LVCMOS33";
#NET "GPIO_0_3"      LOC="P131" | IOSTANDARD="LVCMOS33";

## port1
#NET "P1<0>"         LOC="P88"  | IOSTANDARD="LVCMOS33";
#NET "P1<1>"         LOC="P87"  | IOSTANDARD="LVCMOS33";
#NET "P1<2>"         LOC="P93"  | IOSTANDARD="LVCMOS33";
#NET "P1<3>"         LOC="P92"  | IOSTANDARD="LVCMOS33";
#NET "P1<4>"         LOC="P100" | IOSTANDARD="LVCMOS33";
#NET "P1<5>"         LOC="P99"  | IOSTANDARD="LVCMOS33";
#NET "P1<6>"         LOC="P102" | IOSTANDARD="LVCMOS33";
#NET "P1<7>"         LOC="P101" | IOSTANDARD="LVCMOS33";

## sdram
NET "SDRAM_CKE"       LOC="P33"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_CLK"       LOC="P32"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_RAS"       LOC="P2"   | IOSTANDARD="LVCMOS33";
NET "SDRAM_CAS"       LOC="P5"   | IOSTANDARD="LVCMOS33";
NET "SDRAM_WE"        LOC="P6"   | IOSTANDARD="LVCMOS33";
NET "SDRAM_CS"        LOC="P1"   | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<0>"      LOC="P140" | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<1>"      LOC="P139" | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<2>"      LOC="P138" | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<3>"      LOC="P137" | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<4>"      LOC="P46"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<5>"      LOC="P45"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<6>"      LOC="P44"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<7>"      LOC="P43"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<8>"      LOC="P40"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<9>"      LOC="P41"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<10>"     LOC="P141" | IOSTANDARD="LVCMOS33";
NET "SDRAM_A<11>"     LOC="P35"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_BA<0>"     LOC="P143" | IOSTANDARD="LVCMOS33";
NET "SDRAM_BA<1>"     LOC="P142" | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<0>"     LOC="P9"   | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<1>"     LOC="P10"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<2>"     LOC="P11"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<3>"     LOC="P12"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<4>"     LOC="P14"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<5>"     LOC="P15"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<6>"     LOC="P16"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<7>"     LOC="P8"   | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<8>"     LOC="P21"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<9>"     LOC="P22"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<10>"    LOC="P23"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<11>"    LOC="P24"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<12>"    LOC="P26"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<13>"    LOC="P27"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<14>"    LOC="P29"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQ<15>"    LOC="P30"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQM<1>"    LOC="P17"  | IOSTANDARD="LVCMOS33";
NET "SDRAM_DQM<0>"    LOC="P7"   | IOSTANDARD="LVCMOS33";

## usb interface
NET "USB_CLK"       LOC="P123" | IOSTANDARD="LVCMOS33" | TNM_NET = "USB_CLK";
TIMESPEC "TS_USB_CLK" = PERIOD "USB_CLK" 60 MHz HIGH 50%;
OFFSET = IN 7.15ns VALID 9.51 AFTER "USB_CLK" HIGH;
OFFSET = OUT 7.4ns VALID 7.4ns BEFORE "USB_CLK" HIGH; # should be 8ns

NET "USB_OE_N"      LOC="P111" | IOSTANDARD="LVCMOS33";
NET "USB_RD_N"      LOC="P114" | IOSTANDARD="LVCMOS33";
NET "USB_WR_N"      LOC="P112" | IOSTANDARD="LVCMOS33";
NET "USB_RXF_N"     LOC="P116" | IOSTANDARD="LVCMOS33";
NET "USB_TXE_N"     LOC="P115" | IOSTANDARD="LVCMOS33";
NET "USB_D<0>"      LOC="P127" | IOSTANDARD="LVCMOS33";
NET "USB_D<1>"      LOC="P126" | IOSTANDARD="LVCMOS33";
NET "USB_D<2>"      LOC="P124" | IOSTANDARD="LVCMOS33";
NET "USB_D<3>"      LOC="P121" | IOSTANDARD="LVCMOS33";
NET "USB_D<4>"      LOC="P120" | IOSTANDARD="LVCMOS33";
NET "USB_D<5>"      LOC="P119" | IOSTANDARD="LVCMOS33";
NET "USB_D<6>"      LOC="P118" | IOSTANDARD="LVCMOS33";
NET "USB_D<7>"      LOC="P117" | IOSTANDARD="LVCMOS33";

## dac all
NET "DAC_RS"        LOC="P67"  | IOSTANDARD="LVCMOS33";

## dac1
NET "DAC_CLK<0>"    LOC="P47"  | IOSTANDARD="LVCMOS33";
NET "DAC_CS<0>"     LOC="P50"  | IOSTANDARD="LVCMOS33";
NET "DAC_SDI<0>"    LOC="P51"  | IOSTANDARD="LVCMOS33";
NET "DAC_LDAC<0>"   LOC="P48"  | IOSTANDARD="LVCMOS33";

## dac2
NET "DAC_CLK<1>"    LOC="P55"  | IOSTANDARD="LVCMOS33";
NET "DAC_CS<1>"     LOC="P57"  | IOSTANDARD="LVCMOS33";
NET "DAC_SDI<1>"    LOC="P58"  | IOSTANDARD="LVCMOS33";
NET "DAC_LDAC<1>"   LOC="P56"  | IOSTANDARD="LVCMOS33";

## dac3
NET "DAC_CLK<2>"    LOC="P78"  | IOSTANDARD="LVCMOS33";
NET "DAC_CS<2>"     LOC="P80"  | IOSTANDARD="LVCMOS33";
NET "DAC_SDI<2>"    LOC="P81"  | IOSTANDARD="LVCMOS33";
NET "DAC_LDAC<2>"   LOC="P79"  | IOSTANDARD="LVCMOS33";

## additional gnd pins
NET "GND_PINS<0>"    LOC="P104" | IOSTANDARD="LVCMOS33";
NET "GND_PINS<1>"    LOC="P105" | IOSTANDARD="LVCMOS33";
NET "GND_PINS<2>"    LOC="P97"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<3>"    LOC="P98"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<4>"    LOC="P94"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<5>"    LOC="P84"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<6>"    LOC="P85"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<7>"    LOC="P82"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<8>"    LOC="P83"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<9>"    LOC="P66"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<10>"   LOC="P61"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<11>"   LOC="P62"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<12>"   LOC="P59"  | IOSTANDARD="LVCMOS33";
NET "GND_PINS<13>"   LOC="P34"  | IOSTANDARD="LVCMOS33";
